/* #Youtoo{
    cursor: -webkit-grabbing;
    width:360px;
    height:210px;
    background-image:url(/img/bg.jpg);
    z-index:9000000000;
    position:fixed;
    top:30%;
    left:35%;
    border-radius:2px;
    padding: 25px 0px 0px 0px;
} */

.modal-Youtoo {
    cursor: -webkit-grabbing;
    width:360px;
    height:210px;
    background-image:url(/img/bg.png);
    z-index:9000000000;
    position: fixed;
    border: 1px;
    top:30%;
    left:35%;
    border-radius:2px;
    padding: 28px 0px 0px 0px;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.6);
    height: 30px;
    width: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}